[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
port                    = 3306
datadir                 = /var/lib/mysql


bind-address            = 0.0.0.0


query_cache_size        = 16M

# --- ENCODAGE (Pour éviter les bugs d'accents et les smileys) ---
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
